h1 {
    color: white;
   font-style: italic;
   font-size: 50px;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.header * {

    border: solid;
    margin-left: 50px;

}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

a:link {
    color: rgb(248, 1, 1);
}

a:visited {
    color:rgb(110, 8, 252)
}

.menu {
    margin-right:300px;
}

.item {
    position: relative;
}

.item p{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}

.item:hover p{
    opacity: 0.5;
}

.item:hover img{
    opacity: 0.33;
}